.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1600px;
    width: 90%;
    margin: 10px auto;
}

.nouveauteswrapper {
    width: 100%;
    height: auto;
    margin-top: 12px;
    border: 1 solid black;
    display: grid;
    grid-template-columns: repeat(auto-fill, 390px);
    justify-content: center;
    grid-gap: 10px;
}
.vignette {
    padding: 0;
    margin: 5px 0;
    font-size: 12px;
    color: #000;
    cursor: pointer;
    display: block;
    width: 370px;
    height: auto;
}
.vignetteTop {
    width: 100%;
    height: 290px;
    background: #F7F8FA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.vignetteButtom {
    margin-top: 25px;
    margin-left: 15px;
}
.vignetteButtomTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.vignetteButtomTitleText {
    height: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 110% */
    text-transform: uppercase;

    color: #000000;
}
.vignetteButtomTitleText2 {
    width: 136px;
    height: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: #000000;
}
.vignetteButtomTitleText3 {
    width: 107px;
    height: 18px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height, or 135% */
    
    color: #87A83D;
}
.iconContainer {
    width: 100%;
    height: 40px; 
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-right: 10px;
}
.icon {
    width: 32px;
    height: 100%;
    background-position: -89px -5px;
    background-image: url("https://www.decofinder.com/public/images/sprites_flags.webp");
    background-repeat: no-repeat;
}







