.container-slider-vignette-home {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.container-slider-vignette-home .swiper-container {
    overflow: unset;
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform,-webkit-transform;
    box-sizing: content-box;
}
.swiper-button-next {
    right: 10px!important;
    background: url(/public/images/controls.png) no-repeat -43px -32px!important;
}
.swiper-button-next, .swiper-button-prev {
    position: absolute!important;
    top: 50%!important;
    width: 32px!important;
    height: 32px!important;
    z-index: 99!important;
    cursor: pointer!important;
    background-size: 32px 32px!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    opacity: 0;
    transition: opacity .3s!important;
}
.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-slide {
    width: 323.25px;
    margin-right: 25px;
    flex-shrink: 0;
}