/*.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  width: 80%;
  margin: 30px auto;
}

.productswrapper {
  width: 100%;
  height: auto;
  border: 1 solid black;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  grid-gap: 10px;
}
.productswrapperItem {
  width: 262px;
  height: auto;
}
.productswrapperItemUp {
  width: 262px;
  height: 262px;
  background: #F7F8FA;
  display: grid;
  justify-content: center;
}
.productswrapperItemDown {
  width: 262px;
  background: #FFFFFF;
}
.productswrapperItemDownDescription {
  margin-top: 15px;
  margin-left: 5px;
}
.productswrapperItemDownDescriptionSpanExposant {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.productswrapperItemDownDescriptionSpanTypeProduct {
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
}

.linkswrapper {
  width: 100%;
  height: auto;
  border: 1 solid black;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  grid-gap: 10px;
}
.linkswrapperItem {
  display: grid;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 257px;
  height: 36px;
  border: 1px solid #808080;
  border-radius: 0px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 112% */
  text-align: center;
  color: #87A83D;
}

.megaunivers {
  width: 100%;
  height: auto;
  border: 1 solid black;
  display: grid;
}
.megauniversItem {
  width: 100%;
}
.megauniversH1 {
  height: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  /* identical to box height, or 145% */
  color: #000000;
}
.megauniverswrapper {
  width: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, 150px);
}
.megauniverswrapperItem {
  height: auto;
}
.megauniverswrapperItemUp {
  width: 131px;
  height: 131px;
  background: #F7F8FA;
  border-radius: 0px;
  display: grid;
  justify-content: center;
}
.megauniverswrapperItemDown {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;

  width: 130px;
  height: 67px;

  background: #FFFFFF;
  border-radius: 0px;
}
.megauniverswrapperDownTexte {
  width: 86px;
  height: 32px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* or 114% */  
  text-align: center;
  text-transform: uppercase;
  
  color: #212121;
}

.pub {
  width: 100%;
  height: 329px;

  display: grid;
  grid-template-columns: repeat(auto-fill, 80%);
  justify-content: center;

  background: #000000;
  border-radius: 0px;
}

.container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1300px;
  width: 80%;
  height: auto;
  margin: 30px auto;
}
.container21 {
  width: 47%;
  height: auto;
}
.container22 {
  width: 47%;
  height: auto;
}
.container21H2 {
  margin: 0;
  height: 71px;
  margin-bottom: 21px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  /* or 110% */
  color: #000000;
}
.container21P {
  margin: 0;
  margin-bottom: 21px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height, or 130% */
  color: #000000;
}

.container21P2 {
  margin: 0;
  margin-bottom: 21px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height, or 130% */
  color: #000000;
}

.container21H3 {
  margin: 0;
  margin-bottom: 21px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  /* or 100% */
  color: #000000;
}

.container3 {
  margin: auto;
  width: 80%;
  min-height: 468px;
  max-width: 1300px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.container3h2 {
  margin-top: 46px;
  width: 100%;
  height: 25px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  /* identical to box height, or 103% */

  text-align: center;
  text-transform: uppercase;

  color: #000000;
}

.container3Communiques {
  width: 100%;
  height: auto;
  border: 1 solid black;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  justify-content: center;
  grid-gap: 10px;
}
.container3CommuniquesItem {
  width: 390px;
  display: flex;
  flex-direction: row;
}

.container3CommuniquesItemText {
  width:194px;
  height:100px; 
  margin-left:15px;
}

.container3Button {
  width: 263px;
  height: 30px;
  margin-top: 46px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #343A40;
  border-radius: 0.8px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */

  text-align: center;
  color: #343A40;
}

.container4 {
  background: rgba(0, 0, 0, 0.8);
  margin-top: 46px;
  min-height: 453px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.container4Wrap {
  margin: auto;
  margin-top: 46px;
  display: grid;
  grid-template-columns: repeat(4, 400px);
  justify-content: center;
  grid-gap: 10px;  
}

.container4Item {
  width: 360px;
  height: 300px;
  background: #87A83D;
}
.container4ItemTextTitle {
  margin: auto;
  width: 66px;
  height: 16px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  
  text-align: center;
  
  color: #ffffff;
}
.container4ItemTextParagraphe {
  margin: auto;
  width: 200px;
  height: 58px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* or 120% */

  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
}

.container4Button {
  margin: auto;
  width: 263px;
  height: 30px;
  margin-top: 46px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #343A40;
  border-radius: 0.8px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  
  text-align: center;
  
  color: #A8A9AD;
}

.main {
  display: block;
}