.megaunivers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  width: 90%;
  margin: 10px auto;
  }
  .megauniversItem {
    width: 100%;
  }
  .megauniversH1 {
    height: 32px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    /* identical to box height, or 145% */
    color: #000000;
    padding-top: 1rem;
  }
  .megauniverswrapper {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, 180px);
    margin-top: 20px;
  }
  .megauniverswrapperItem {
    height: auto;
    width: 160px;
    background: red;
  }
  .megauniverswrapperItemUp {
    height: 160px;
    background: #F7F8FA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .megauniverswrapperItemDown {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
  
    width: 160px;
    height: 67px;
  
    background: #F7F8FA;
    border-radius: 0px;
  }
  .megauniverswrapperDownTexte {
    width: 86px;
    height: 32px;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */  
    text-align: center;
    text-transform: uppercase;
    
    color: #212121;
  }